h1{
    color: red;
    text-align: center; 
    background-color: greenyellow; 

  }


  p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
  }