h1{
    color: red;
    text-align: center; 
    background-color: greenyellow; 

  }


h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: justify;
  }

h3{
    color:burlywood;
    text-align: left;
    background-color: bisque;
}

h4{
    color:chocolate;
    text-align: right;
    background-color: cornsilk;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}